################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AlumnosPagosApp/FileContentIndex/4c7cb499-51d4-41da-aa47-a95218d290cf.vsidx
/.vs/AlumnosPagosApp/FileContentIndex/6ee45300-cd0b-47d7-8fa8-cb440fe4133b.vsidx
/.vs/AlumnosPagosApp/FileContentIndex/4fbefa95-996d-41f6-91c2-1fc124cea5c8.vsidx
/.vs/AlumnosPagosApp/FileContentIndex/60a5f51a-6241-4eb9-8227-4e98fbd51313.vsidx
