@{
    ViewData["Title"] = "Home Page";
}

<!-- Estilo para agregar la imagen de fondo desde Internet -->
<style>
    body {
        background-image: url('https://img.freepik.com/fotos-premium/resumen-fondo-claro-plano-disecciono-muchas-piezas-diferentes-niveles_75780-578.jpg?w=740');
        background-size: cover; /* Ajusta la imagen para que cubra toda la página */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Sistema de registro Alumnos/Pagos</h1>
</div>
