@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Nos comprometemos a proteger tu privacidad y a gestionar tus datos personales de manera segura y responsable. 
    Esta política de privacidad explica cómo recopilamos, usamos, divulgamos y protegemos la información que obtienemos de ti cuando visitas nuestro sitio web</p>
